<section class="bg-primary" id="e-vote.demo-gov.cf">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Below you can see a preview of the .gov information website</h2>
                <hr class="light">
                <p class="text-faded">
                    Voters shouldn't have really needed to access here to vote, they could have just got directly to the partner.
                    Here they can find all the information needed for them to vote including video and demos.
                    The site will open with instructions to the device the users currently using, but they can change it.   
                </p>
                <div style="width: 500px;height: 500px; background-color: white; color: black; align-self: center; text-align: center; border: 2px;">
                    <h2>Demo of e-vote.demo-gov.cf</h2>
                </div>
                <br>
                <a href="#www.demo-bank.cf" class="btn btn-default btn-xl">I’ve chosen a partner - I want to see their demo!</a>
            </div>
        </div>
    </div>
</section>
