<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>E-vote from Hydro IT LTD</h1>
            <hr>
            <p>
                Start your secure E-voting journey by viewing important security information at your government
                website e-vote.demo-gov.cf. this website will be the only one published in the media,
                campaigns will encourage voters to only consume information from that website by typing it's exact URL.
            </p>
            <a href="#e-vote.demo-gov.cf" class="btn btn-primary btn-xl page-scroll">preview e-vote.demo-gov.cf</a>
        </div>
    </div>
</header>
