<section id="www.demo-bank.cf">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Thanks for Choosing the partner www.demo-bank.cf</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div style="width: 500px;height: 500px; background-color: white; color: black; align-self: center; text-align: center; border: 2px;">
        <h2>Demo of www.demo-bank.cf</h2>
    </div>
</section>
